.idea
idea
.DS_Store
.vscode

*.egg-info/
.installed.cgf
*.egg

dist
db.sqlite3

venv
.env
settings.ini

prod_setting.py
local_setting.py

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
media/*
*/migrations/
.pytest_cache

log/debug.log

build
doc
home.rst
make.bat

migrations/